.app {
  text-align: center;
  font-size: calc(10px + 2vmin);
  background-color: #eef;
  min-height: 100vh;
  width: 100%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}